.triangle {
    width: 0;
    height: 0;
    border: 100px solid transparent;
    border-left: 100px solid blue;
}
.demo {
    position: relative;
    width: 400px;
    height: 400px;
    background: #ccc;
}
.demo a {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 40px;
    display: block;
    border: 1px solid red;
    background: #000;
    color: #fff;
}
.demo .right {
    right: 0;
    /*background: red;*/
}
.focus:focus {
    background: #000;
    color: #fff;
}
.skew {
    width: 200px;
    height: 100px;
    border: 10px solid #83b692;
    background: linear-gradient(0deg, #f36, #389);
    margin: 100px;
}
