@charset "utf-8";
@function px2vm($px,$width: 750) {
  @return $px / ($width / 100) + vw;
}

@function px2rem($px,$root: 16) {
  @return $px / $root + rem;
}


/* format origin CSS */
html {
  font-size: 16px;
}
@media screen and (min-width: 375px) {
  html {
    /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  }
}
@media screen and (min-width: 414px) {
  html {
    /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586);
  }
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  vertical-align: middle;
}
/* Current */
.yybSwiper-container {
  width: 100%;
  overflow: hidden;
}
.yybSwiper-wrap {
  position: relative;
  width: 100%;
  height: px2vm(337);
  .yybSwiper-item {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.yybSwiper-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  font-size: 0;
  span {
    display: inline-block;
    margin: 8px 4px;
    width: px2vm(15);
    height: px2vm(15);
    border-radius: 50%;
    background: #ffffff;
    opacity: .3;
    &.swiper-currentIndex {
      background: rgb(255,80,0);
      opacity: 1;
    }
  }

}