/* 颜色变量 */

%row {
    display: flex;
    flex-direction: row;
}

%cum {
    display: flex;
    flex-direction: column;
}

%lrcenter {
    align-items: center;
}

%cncenter {
    justify-content: center;
}

%rev {
    position: relative;
}

%abs {
    position: absolute;
}

$color: #474747;
$sed_color: #ff4545;
$tran: 0.3s;
$wcolor: #fff;

/* 行为相关颜色 */

$uni-color-primary: rgb(167, 129, 228);
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */

$uni-text-color: #333; //基本色
$uni-text-color-inverse: #fff; //反色
$uni-text-color-grey: #999; //辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

/* 背景颜色 */

$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; //点击状态颜色
$uni-bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */

$uni-border-color: #c8c7cc;

/* 尺寸变量 */


/* 文字尺寸 */

$uni-font-size-sm: 20px;
$uni-font-size-base: 28px;
$uni-font-size-lg: 32px;

/* 水平间距 */

$uni-spacing-row-sm: 10px;
$uni-spacing-row: 20px;
$uni-spacing-row-lg: 30px;