@import 'custom.css';

.size {
  width: 100px;
  height: 100px;
  border: 2px solid #ff0000;
  transform: translate(200px, 200px);
}

/*p:nth-of-type(odd) {*/
/*  background: #d0559d;*/
/*}*/

.animal {
  margin-right: 10px;
  width: 128px;
  height: 128px;
  display: inline-block;
}

.animal1 {
  background: url("../images/animal/animal1.png") no-repeat;
}

.animal2 {
  background: url("../images/animal/animal2.png") no-repeat;
}

.animal3 {
  background: url("../images/animal/animal3.jpg") no-repeat;
}

.animal4 {
  background: url("../images/animal/animal4.png") no-repeat;
}

.header {
  width: 84px;
  height: 84px;
  margin-right: 10px;
  display: inline-block;
}

.header1 {
  background: url("../images/headers/1.png") no-repeat;
}

.header2 {
  background: url("../images/headers/2.png") no-repeat;
}

.header3 {
  background: url("../images/headers/3.png") no-repeat;
}

.header4 {
  background: url("../images/headers/4.png") no-repeat;
}

/*CSS分割测试*/
.footer {
  height: 100px;
  background: red;
}
