// 1023123 => 102.3万
// 123121342 => 1.2亿
function formatCount(count) {
  count = Number(count)
  if (count >= 100000000) {
    return (count / 100000000).toFixed(1) + '亿'
  } else if (count >= 10000) {
    return (count / 10000).toFixed(1) + '万'
  } else {
    return count
  }
}


function padLeft(time) {
  time = time + ''
  return ('00' + time).slice(time.length)
}

function formateTime(time, precision = 1000) {
  // ms => s
  time = time / precision

  // mm:ss
  var m = Math.floor(time / 60)
  var s = Math.floor(time) % 60

  return padLeft(m) + ":" + padLeft(s)
}

module.exports = {
  count: formatCount,
  time: formateTime
}
