doctype html
html
<!--[if IE 8]><html class='ie8'><!endif>-->
    head
        meta(charset='utf-8')
        - var course = 'jade'
        title #{course.toLocaleUpperCase()}imooc pug study
    body
        link(href='./ok.css',type='text/css',rel='stylesheet')
        script.
            var color='jad'
        h1.title#title imooc pug study
        a(href='http://imooc.com',title='1000',data-uid='1000') link
        input(value='ok' checked)
        div.g-container
            -for(var i = 0; i<4; i++)
            div.g-queue
                -for(var j = 0; j<8; j++)
                div.g-item

