@import "tailwindcss";

@theme {
  --color-airbnb: #ff385c;
  --color-text: #484848;
  --color-verify: #39576a;
  --color-rating: #00848a;
}

body {
  font-size: 14px;
  color: #484848;
}

@utility box-shadow {
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }
}