<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <style>
      .green {
        background-color: green;
      }
    </style>
    <script src="./vue3.js"></script>
    <script src="./index.js"></script>
  </head>
  <body>
    <div id="app">
      <div>初级：<input ref="normal" type="text" v-model.trim="normal" /> {{normalRes}}</div>
      <div>中级：<input type="text" v-model.trim="middle" />{{middleRes}}</div>
      <div>总价：{{oneTotal}} <button @click="onAdd">添加</button></div>
      <table border="1">
        <tr>
          <!-- <td>序号</td> -->
          <td>价格</td>
        </tr>
        <tr v-for="(item, index) in price" :key="item">
          <!-- <td>
            {{index + 1}}
          </td> -->
          <td>
            {{item}}
          </td>
        </tr>
        <tr>
          <!-- <td>合计</td> -->
          <td>合计:{{total}}</td>
        </tr>
      </table>

      <todo-list>
        <template v-slot:default="slotProps">
          <i class="fas fa-check"></i>
          <span class="green">{{ slotProps.item2 }}</span>
        </template>
      </todo-list>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            bar: true,
            normal: 0,
            middle: 0,
            price: [],
          }
        },
        computed: {
          normalRes() {
            return Number((this.normal / 22) * 25000).toFixed(2)
          },
          middleRes() {
            return Number((this.middle / 22) * 31000).toFixed(2)
          },
          oneTotal() {
            return (Number(this.normalRes) + Number(this.middleRes)).toFixed(2)
          },
          total() {
            return this.price.reduce((prev, now) => {
              return Number(prev) + Number(now)
            }, 0)
          },
        },
        methods: {
          onAdd() {
            this.price.push(this.oneTotal)
            this.normal = this.middle = 0
            this.$refs.normal.focus()
          },
        },
      })

      app.component('todo-button', {
        template: `
          <button><slot>Submit</slot></button>
        `,
      })
      app.component('todo-list', {
        data() {
          return {
            items: ['Feed a cat', 'Buy milk'],
          }
        },
        template: `
          <ul>
            <li v-for="(item, index) in items">
              <slot :item2="item"></slot>
            </li>
          </ul>
        `,
      })

      app.mount('#app')
    </script>
    <script>
      let obj1 = {
        name: 1,
      } // 此处需要加分号
      ;[1, 2, 3, 4].forEach(element => {
        // Uncaught TypeError: Cannot read properties of undefined (reading 'forEach')
        console.log(element)
      })
    </script>
  </body>
</html>
